/* SIDEBAR */
.sidebar {
    height: 100%;
    width: 290px;
    background: linear-gradient(180deg, #26cfcf 35%, #e5e83e 100%);
    color: #fff;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    /* gap: 18px; */
}

.brand {
    display: flex;
    align-items: center;
}

.brand .logo {
    margin-top: -40px;
    width: 100%;
    /* background: rgba(255, 255, 255, 0.12); */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.logo img{
    width: 130%;
    height: auto;
}

nav.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
    margin-top: -60px;
}

nav.menu a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    color: #e6f4fa;
    text-decoration: none;
    font-weight: 670;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    
}

nav.menu a:hover {
    background: rgba(255, 255, 255, 0.06)
}

nav.menu a span {
    margin-right: 5px;
}